@font-face {
    font-family: JF-Flat;
    src: url('fonts/JF-Flat.ttf');
}
.ui.radio.checkbox .box, .ui.radio.checkbox label
{

    padding-right: 1.85714em;
}
.ui.radio.checkbox .box:before, .ui.radio.checkbox label:before
{
    right:0;
}
.ui.radio.checkbox .box:after, .ui.radio.checkbox label:after
{
    right:0;
}
.ui.icon.input input
{
    direction:rtl;
    text-align:right;
    padding-left: 2.67142857em!important;
    padding-right:0.5em!important;
}
.ui.icon.input>i.icon
{
    right: auto;
    left:0;
}

.ui.menu
{
    font-family: JF-Flat ;
}
.ui.button
{
    font-family: JF-Flat;
}

.ui.right.sidebar
{
    right: auto!important;
    left: 0!important;
}

.page-header
{
    background-color:#00b5ad;
    width:100%;
    height:220px;
    border-radius:0 0 25px 25px;
}
#vertical-center
 {
    vertical-align: middle;
    line-height: 150px;
    font-family: JF-Flat;
}
body
{
    direction: rtl;
    background-color: #eeeeee;
    font-family: JF-Flat;
}

body.pushable{
    background-color: #EEEEEE !important;
}

.pusher
{
    background-color: #EEEEEE !important;
}
body h3
{
    font-family: JF-Flat;
}
h3.ui.header
{
    font-family: JF-Flat;
}

#sidebar
{
    display: none;
}
#mobile-page-header
{
    display: none;
}

@media all and (max-width:767px)
{

    #nav
    {
        display: none;
    }

    #sidebar
    {
        display: block;
    }

    .page-header
    {
        display: none;
    }
    .ui.menu
    {
        background: #00b5ad;
        border-radius: 0px;
    }
    .mobile-header
    {
        min-height: 2.85714286em;
        border-radius:0 0 5px 5px;
    }
    #mobile-vertical-center
    {
        margin-top: 5px;
        margin-left: 50px;
        vertical-align: middle;
        font-family: JF-Flat;
    }
    #mobile-page-header
    {
        display: block;
    }
    i.icon, i.icons
    {
        font-size: 20px;
    }

}

#message > ul.list {
    text-align: right;
}

.ui.message#message .list:not(.ui) li {
    margin: 0 1em .3em 0;
}

.ui.message#message .list:not(.ui) li:before {
    right: -1em;
    left: 0;
}