body
{
    direction: rtl;
    text-align: right;
    background: #f1f1f1;
    font-family: JF-Flat;
}

.ui.checkbox input[type=checkbox],
.ui.checkbox input[type=radio]
{
    right: 0;
    left: auto;
}

.ui.checkbox label
{
    padding-right: 1.85714em;
    padding-left: 0;
}

.ui.checkbox label:before,
.ui.checkbox label:after
{
    right: 0;
    left: auto;
}

#message > ul.list {
    text-align: right;
}

.ui.message#message .list:not(.ui) li
{
    margin: 0 1em .3em 0;
}

.ui.message#message .list:not(.ui) li:before
{
    right: -1em;
    left: 0;
}

.ui.button {
    margin-right: 0!important;
}
/******************** Add JS-Flat Fount ********************/
@font-face {
    font-family: JF-Flat;
    src: url('fonts/JF-Flat.ttf');
    font-size: 14px;
}