body {
    direction: rtl;
    text-align: right;
    background: #f1f1f1;
}

.ui.checkbox input[type=checkbox],
.ui.checkbox input[type=radio] {
    right: 0;
    left: auto;
}

.ui.checkbox label {
    padding-right: 1.85714em;
    padding-left: 0;
}

.ui.checkbox label:before,
.ui.checkbox label:after {
    right: 0;
    left: auto;
}

#message > ul.list {
    text-align: right;
}

.ui.message#message .list:not(.ui) li {
    margin: 0 1em .3em 0;
}

.ui.message#message .list:not(.ui) li:before {
    right: -1em;
    left: 0;
}

/* for tables*/
.ui.celled.table tr td:first-child,
.ui.celled.table tr th:first-child,
.ui.celled.table tr td,
.ui.celled.table tr th
{
    border-right: none;
    border-left: 1px solid rgba(34,36,38,.1);
}

.ui.celled.table tr td:last-child,
.ui.celled.table tr th:last-child
{
    border-right: none;
    border-left: none;
}

.ui.accordion .title .dropdown.icon
{
    transform: rotate(180deg);
    margin: 0;
}

#special-menu>.item {
    display: flex;
    flex-direction: column;
}

.ui.menu#special-menu .item:before {
    width: 0!important;
}
/******************** Add JS-Flat Fount ********************/
@font-face {
    font-family: JF-Flat;
    src: url('fonts/JF-Flat.ttf');
    font-size: 14px;
}