body
{
    direction: ltr;
    text-align: left;
    background: #f1f1f1;
    font-family: JF-Flat sans-serif;
}

#special-menu>.item {
    display: flex;
    flex-direction: column;
}

.ui.menu#special-menu .item:before {
    width: 0!important;
}
/******************** Add JS-Flat Fount ********************/
@font-face {
    font-family: JF-Flat;
    src: url('fonts/JF-Flat.ttf');
    font-size: 14px;
}